@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    /* Pure Black #000000 */
    --foreground: 0 0% 100%;
    --card: 0 0% 2%;
    /* Ultra Deep Gray #050505 */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 70% 50%;
    --primary-foreground: 144 100% 11%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 142 70% 50%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 2%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 2%;
    --popover-foreground: 0 0% 100%;
    --primary: 142 70% 50%;
    --primary-foreground: 144 100% 11%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 63%;
    --accent: 0 0% 12%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 10%;
    --input: 0 0% 10%;
    --ring: 142 70% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}