name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Set up environment variables
        run: |
          echo "NITRO_PRESET=github_pages" >> $GITHUB_ENV

      - name: Install dependencies
        run: deno task postinstall

      - name: Static HTML export with Nuxt
        run: deno task generate

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: .output/public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
